# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle
build/
classes/
bin/
out/

# Eclipse
**/.DS_Store
.settings/
.project
.classpath

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# temp files from building in gradle
*/tmp/*

#Viscode
.vscode/
.vscode/settings.json

# vim
*.swp

**/.rdb

node_modules/
yarn.lock

# postgres data from docker
**/postgres_data/
